@import '../assets/fonts/roboto.css';

* { font-family: 'Roboto'; }

body {
    background: cornsilk;
    background-image: url('../assets/images/circle.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
